@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #7f8c8d;
}

.categories {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}

.categories h4 {
	width: 100%;
	padding: 20px;
	font-size: 1.4rem;
	transition: all 0.1s;
	border-bottom: 3px solid #7f8c8d;
}

.categories h4:hover {
	border-bottom: 3px solid;
	cursor: pointer;
}

.active {
	border-bottom: 3px solid !important;
}

/* Card styling */

.cards-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	row-gap: 40px;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.card {
	width: 100%;
	box-shadow: 2px 4px 4px rgba(108, 108, 108, 0.722);
	border-radius: 5px;
	position: relative;
	background-color: #fff;
}

.card .tag {
	padding: 5px 15px;
	position: absolute;
	top: 12px;
	left: 0;
	background-color: red;
	text-transform: uppercase;
	border-top-right-radius: 10px;
	color: #fff;
	font-weight: bold;
}

.card .img {
	padding: 10px 0;
}

.card .img img {
	width: 100%;
	height: 400px;
	object-fit: contain;
}

.card-content {
	display: flex;
	padding: 10px 20px;
	flex-direction: column;
}

.card-content h5 {
	font-size: 1rem;
	text-transform: capitalize;
	color: #9c9c9ce4;
	font-weight: 600;
	margin: 10px 0;
}

.card-content h3 {
	font-size: 1.5rem;
	margin: 10px 0 5px 0;
	font-weight: 500;
}

.card-content .card-description {
	font-size: 0.8rem;
	margin: 8px 0 100px 0;
	color: #484848e4;
}

.card-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	position: absolute;
	bottom: 15px;
}

.ratingAndbutton {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.card-price {
	color: #e9b257;
	font-weight: 900;
	font-size: 1.2rem;
}

.rating {
	font-size: 0.9rem;
	font-size: 1.1rem;
}

.rating i {
	color: #febd32;
	font-size: 0.8rem;
}

.cart-btn button {
	border: none;
	background: none;
	font-size: 1.4rem;
	transition: all 0.4s;
}

.cart-btn button:hover
/* .cart-btn button i */ {
	color: #e74c3c;
	cursor: pointer;
}
